{{define "head"}}<title>Dashboard</title>{{end}}
{{define "body"}}
<div id="wrapper">
        {{template "nav" .}}
        <div id="page-wrapper" style="min-height: 635px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Dashboard</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
        </div>
</div>
{{end}}